/*Formats challenge squares*/


.adminTables{
	width: 100%;
}

.adminTables tr{
	height: 50px;
}

.configInput{
	text-align: right;
	width: 200px;
}

.adminForms{
    padding-bottom: 20px;
}

#addChallenge{
	width: 130px;
	text-align: center;
	float: right;
	transform: translateY(-200%);
}



.stateImg{
	float: right;
}

.pane ul{
	margin-left: 10px;
	list-style-type: none;
}

.pane ul li{
	height: 30px;
}

#rtms{
    width: 100%;
    height: 45px;
    position: relative;
}

#rtms input[type="submit"], #rtms input[type="text"]{
    float: right;
}

#rtms input[type="text"]{
    height: 33px;
    width: 50%;
}

#rtms label{
    float: right;
    color: #CCC;
    padding-top: 10px;
    padding-right: 10px;
    font-family: PressStart;
}

/***********
*Game Setup*
************/

#gsTimeManagement label{
    width: 100px;
}

#gsMotd label{
    width: 100px;
    vertical-align: top;
}

#gsHeaderConfig input[type="text"]{
    width: 200px;
    vertical-align: top;
}

#gsHeaderConfig textarea{
    width: 500px;
}
#gsHeaderConfig label{
    vertical-align: top;
}

.smallHr{
    width: 75%;
}
