
#header{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

#motd{
    border: none;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: #999999;
    background-color: #171718;
    padding: 5px;
    border-radius: 10px;
}

/* Navbar Styles */
#navbar{
	text-align: center;
	padding-top: 30px;
}

#navbar a{
	padding-left: 10px;
	padding-right: 10px;
    font-family:PressStart;
    font-size:0.8em;
}

#navbar a:hover{
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
}

#rulesList{
    font-family:PressStart;

}

/* Scoreboard Styles */
/*
Neon effect from http://codepen.io/NobodyRocks/pen/qzfoc?editors=110
Font from http://www.zone38.net/font/
*/
#scoreTable th{
    font-weight: bold;
}

#scoreTable{
	position: relative;
	margin: auto;
    width: 100%;
    color: #cbcbcb;
    border-collapse: collapse;
}

@font-face {
    font-family: 'PressStart';
    font-style: normal;
    font-weight: 300;
    src: local('Press Start 2P'), local('PressStart2P-Regular'), url(../images/PressStart2P.woff) format('woff');

}

#scoreTable tr{
    color:#228DFF;
    font-family:PressStart;
    font-size:1.0em;
}

.myTeam{
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon {
    from {text-shadow: 0 0 10px #fff, 0 0 20px  #fff, 0 0 30px  #fff, 0 0 40px  #228DFF, 0 0 70px  #228DFF, 0 0 80px  #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;}
    to {text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;}
}

@-moz-keyframes neon {
    from {text-shadow: 0 0 10px #fff, 0 0 20px  #fff, 0 0 30px  #fff, 0 0 40px  #228DFF, 0 0 70px  #228DFF, 0 0 80px  #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;}
    to {text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;}
}

@keyframes neon {
    from {text-shadow: 0 0 10px #fff, 0 0 20px  #fff, 0 0 30px  #fff, 0 0 40px  #228DFF, 0 0 70px  #228DFF, 0 0 80px  #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;}
    to {text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;}
}


/* Back Pane / Popup Styles */
#backPane {
	overflow: auto;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
	z-index: 1000;
	background: rgba(0,0,0,0.6);
	display: none;
}

#backPane h3{
    text-align: center;
}


.messageBox{
	width: 100%;
	height: 40px;
	line-height: 40px;
  	vertical-align: middle;
	display: none;
}

/* #### Form theme adapted from http://www.sanwebe.com/2013/10/css-html-form-styles#dark-matter-css #### */
.pane {
	margin: 100px auto;
    max-width: 650px;
    background: #555;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #D3D3D3;
    text-shadow: 1px 1px 1px #444;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.pane h1 {
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
}
.pane h1>span {
    display: block;
    font-size: 11px;
}
.pane label {
    display: block;
    margin: 0px 0px 5px;
}
.pane label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}
input[type="text"], input[type="password"], textarea, select, input[type="file"] {
    border: none;
    color: #525252;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF;
}
select {
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    color: #525252;
    line-height: 25px;
}
textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
input[type="submit"] {
    background: #FFCC02;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #585858;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
    float: right;
    overflow: hidden
}

input[type="submit"]:hover {
    color: #333;
    background-color: #EBEBEB;

}

/* Other Styles */

body {
    background: #333;
    width: 1024px;
    margin: auto;
    /*font-family:PressStart;*/
}

p{
	color: #ccc;
    font-family:PressStart;
    font-size: 13px;
}

a{
    border: none;
    /*font-family:PressStart;
    font-size: 14px;*/
}

a, a:link, a:visited, a:active{
    color: #38c;
    text-decoration: none;
}

a:hover{
    color: #789;
    text-decoration: underline;
}

.outer  {
    position: relative;
    float: right;
    -webkit-transform:translate(0, 13px);
}

.inner {
    -webkit-animation-name: rotateThis;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    position: relative;
}

@-webkit-keyframes rotateThis {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotateThis {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes rotateThis {
    0% { -o-transform: rotate(0deg);}
    100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes rotateThis {
    0% { -ms-transform: rotate(0deg);}
    100% { -ms-transform: rotate(360deg);}
}


.loadingBar {
    width: 4px;
    height: 4px;
    position: absolute;
    background-color: white;

}

.bar1{
    -webkit-transform: rotate(0deg) translate(0, -10px);
    opacity: 0.12;
}

.bar2{
    -webkit-transform: rotate(45deg) translate(0, -10px);
    opacity: 0.25;
}

.bar3{
    -webkit-transform: rotate(90deg) translate(0, -10px);
    opacity: 0.37;
}

.bar4{
    -webkit-transform: rotate(135deg) translate(0, -10px);
    opacity: 0.50;
}

.bar5{
    -webkit-transform: rotate(180deg) translate(0, -10px);
    opacity: 0.62;
}

.bar6{
    -webkit-transform: rotate(225deg) translate(0, -10px);
    opacity: 0.75;
}

.bar7{
    -webkit-transform: rotate(270deg) translate(0, -10px);
    opacity: 0.87;
}

.bar8{
    -webkit-transform: rotate(315deg) translate(0, -10px);
    opacity: 1;
}


.modifyButton{
    display: inline-block;
    width: 80px;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    margin: 2px 10px 2px 10px;
    text-decoration: none;
    text-align: center;
}

.tableButtons{
    display: inline-block;
    width: 120px;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    margin: 2px 10px 2px 10px;
    text-decoration: none;
    text-align: center;
}

.green, .red, .blue{
    display: inline-block;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    margin: 2px 10px 2px 10px;
    text-decoration: none;
    text-align: center;
}

.modifyButton a, a:link, a:visited, a:active{
    color: #FFFFFF;
    text-decoration: none;

}

.modifyButton.enable, #addChallenge, .green{
    background: #06c723;
    background-image: -webkit-linear-gradient(top, #06c723, #048208);
    background-image: -moz-linear-gradient(top, #06c723, #048208);
    background-image: -ms-linear-gradient(top, #06c723, #048208);
    background-image: -o-linear-gradient(top, #06c723, #048208);
    background-image: linear-gradient(to bottom, #06c723, #048208);
}

.modifyButton.enable:hover, #addChallenge:hover, .green:hover{
    background: #048208;
    background-image: -webkit-linear-gradient(top, #048208, #06c723);
    background-image: -moz-linear-gradient(top, #048208, #06c723);
    background-image: -ms-linear-gradient(top, #048208, #06c723);
    background-image: -o-linear-gradient(top, #048208, #06c723);
    background-image: linear-gradient(to bottom, #048208, #06c723);
    text-decoration: none;
}


.modifyButton.disable, .red{
    background: #c70808;
    background-image: -webkit-linear-gradient(top, #c70808, #800505);
    background-image: -moz-linear-gradient(top, #c70808, #800505);
    background-image: -ms-linear-gradient(top, #c70808, #800505);
    background-image: -o-linear-gradient(top, #c70808, #800505);
    background-image: linear-gradient(to bottom, #c70808, #800505);
}

.modifyButton.disable:hover, .red:hover{
    background: #800505;
    background-image: -webkit-linear-gradient(top, #800505, #c70808);
    background-image: -moz-linear-gradient(top, #800505, #c70808);
    background-image: -ms-linear-gradient(top, #800505, #c70808);
    background-image: -o-linear-gradient(top, #800505, #c70808);
    background-image: linear-gradient(to bottom, #800505, #c70808);
    text-decoration: none;
}

.modifyButton.edit, .blue{
    background: #2e08c7;
    background-image: -webkit-linear-gradient(top, #2e08c7, #4f4ff7);
    background-image: -moz-linear-gradient(top, #2e08c7, #4f4ff7);
    background-image: -ms-linear-gradient(top, #2e08c7, #4f4ff7);
    background-image: -o-linear-gradient(top, #2e08c7, #4f4ff7);
    background-image: linear-gradient(to bottom, #2e08c7, #4f4ff7);
}

.modifyButton.edit:hover, .blue:hover{
    background: #4f4ff7;
    background-image: -webkit-linear-gradient(top, #4f4ff7, #2e08c7);
    background-image: -moz-linear-gradient(top, #4f4ff7, #2e08c7);
    background-image: -ms-linear-gradient(top, #4f4ff7, #2e08c7);
    background-image: -o-linear-gradient(top, #4f4ff7, #2e08c7);
    background-image: linear-gradient(to bottom, #4f4ff7, #2e08c7);
}

.delete{
    position: absolute;
    top: 0;
    left: 225px;
    width: 25px;
    font-family: Arial;
    font-size: 20px;
    display: none;
}

.delete:hover{
    background: #960004;
    background-image: -webkit-linear-gradient(top, #960004, #960303);
    background-image: -moz-linear-gradient(top, #960004, #960303);
    background-image: -ms-linear-gradient(top, #960004, #960303);
    background-image: -o-linear-gradient(top, #960004, #960303);
    background-image: linear-gradient(to bottom, #960004, #960303);
}

.modifyButton.consoleOutput:hover, .yellow:hover{
    background: #96430f;
    background-image: -webkit-linear-gradient(top, #96430f, #96430f);
    background-image: -moz-linear-gradient(top, #96430f, #96430f);
    background-image: -ms-linear-gradient(top, #96430f, #96430f);
    background-image: -o-linear-gradient(top, #96430f, #96430f);
    background-image: linear-gradient(to bottom, #96430f, #96430f);
}

.modifyButton.consoleOutput{
    background: #cb560f;
    background-image: -webkit-linear-gradient(top, #cb560f, #96430f);
    background-image: -moz-linear-gradient(top, #cb560f, #96430f);
    background-image: -ms-linear-gradient(top, #cb560f, #96430f);
    background-image: -o-linear-gradient(top, #cb560f, #96430f);
    background-image: linear-gradient(to bottom, #cb560f, #96430f);
}

/**Section Styles**/
.section h3{
    display: inline-block;
}

.sectionHeader{
    padding-left: 10px;
    position: relative;
    display: inline-block;
    width: 100%;
}

.sectionHeader h2{
    display: inline-block;
    float: left;
}

.section label{
    display: inline-block;
    width: 90px;
}

.challenge{
    width: 250px;
    height: 300px;
    position: relative;
    display: inline-block;
    background-color: white;
    vertical-align:middle;
}

.challenge div{
    height: 100%;
    width: 100%;
    text-align: center;

}

.challenge.disabled{
    background-color: rgba(4,4,4,0.6);
}

.disabled .author, .disabled  .username, .disabled  .password, .disabled  .ip, .disabled  .points{
    color: rgb(0,0,0);
}

.enabled .author, .enabled .username, .enabled .password, .enabled .ip, .enabled .points{
    color: #CCC;
}

.challenge.disabled img{
    opacity: 0.1;
}

.challenge.enabled{
    background-color: rgba(4,4,4,1);
}

.challenge.enabled img{
    opacity: 1.0;
}

.challenge span{
    height: 40px;
    display: block;
}

.challenge span h4{
    color: #CCC;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.challenge img{
    min-height: 128px;
}

.challenge ul{
    text-align: left;
    list-style-type: none;
    padding-left:20px;
    margin: 0px;
}

.section{
    border: 2px solid;
    /*border-radius: 10px;*/
    background-color: white;
}

.sectionContent{
    display: none;
    margin: 10px;
}


/**Achievements**/
.achievement{
    width: 33%;
    height: 110px;
    position: relative;
    border-radius: 3px;
    background-color: #000;
    display: inline-block;
}

.achievementLogo img{
    width: 94px;
    opacity: 0.5;

}

.achievementLogo{
    margin: 7px;
    width: 110px;
    position: relative;
    display: inline-block;
}

.achievementLogo h1{
    position: absolute;
    top: 10px;
    left: 0;
    width: 94px;
    text-align: center;
    display: inline;
    font-family: "League-Gothic", Courier;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #000, 0 0 70px #000, 0 0 80px #000, 0 0 100px #000, 0 0 150px #000;

}

.achievementDetails{
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.achievementDetails h2{
    color: #999999;
    display: inline;
}

canvas{
    margin: auto;
    position: relative;
    top: -webkit-calc(50% - 250px);
    top: calc(50% - 250px);
    left: -webkit-calc(50% - 300px);
    left: calc(50% - 300px);
}